[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:b08x/dotfiles.git
[submodule "isabella"]
	path = isabella
	url = git@github.com:syncopatedstudios/isabella.git
[submodule "sonic-pi"]
	path = sonic-pi
	url = git@github.com:syncopatedstudios/sonic-pi.git
[submodule "spark"]
	path = spark
	url = git@github.com:syncopatedstudios/spark.git
